<nav>
    &nbsp;
</nav>
<div *ngIf="showCard; else elseBlock">
    <section class="sectionPages">
        <article class="w-100">
            <div class="card w-100 bg-info">
                <div class="card-header">
                    <button type="button" class="btn btn-light btn-sm" style="float: left;" (click)="goBack()">
                        <img alt="Return Dashboard" title="Return Dashboard" src="./assets/btn/btnReturn.png" />
                        Dashboard
                    </button>


                    <button type="button" class="btn btn-light btn-sm" style="float: right;" data-toggle="modal"
                        data-target="#exampleModalScrollable">
                        <img alt="Open Script" title="Open Script" src="./assets/btn/btnSql.png" />
                        Generate Script
                    </button>
                </div>
                <div class="card-body" style="background-color: white;">
                    <router-outlet></router-outlet>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </article>
    </section>
    <section class="sectionPopup">
        <app-modalscript></app-modalscript>
    </section>
</div>
<ng-template #elseBlock>
    <!-- PAINEL DO DASHBOARD -->
    <router-outlet></router-outlet>
</ng-template>