.keyArea{
    width: 100%;
    height: 500px;
    resize: none;
    background-color: #ffffff;
}


::-webkit-input-placeholder { /* Edge */
    font-style: italic;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
  }
  
  ::placeholder {
    font-style: italic;
  }
  


