<article class="articleDashboard">
    <div class="card-deck">
        <div class="card bg-info text-white text-center linkPag" *ngFor="let gen of generatorList"
            [routerLink]="[gen.link]" >
            <div class="card-body">
                <strong>{{gen.name | uppercase}}</strong>
                <br><br>
                <img [src]="[gen.img]" [alt]="[gen.name]">
                <br><br>
                <small class="text-muted float-right" style="position: absolute; right: 10px; bottom: 5px; ">
                    <span class="badge badge-warning" *ngIf="showVersion(gen.modifydate)">&nbsp;&nbsp;{{getStatus(gen.version)}}&nbsp;&nbsp;</span>
                    &nbsp;
                    <span class="badge badge-danger">&nbsp;&nbsp;{{gen.version}}&nbsp;&nbsp;</span>
                </small>
            </div>
        </div>
    </div>
</article>